*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1{
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
}
.p1{
    font-size:23px;
    color: grey;
}
.icons{
    text-align: center;
    padding: 20px;
    font-size:35px;
    background-color:rgb(110, 109, 109); ;
}
.footer{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: rgb(110, 109, 109);
    text-align: center;
    padding: 40px;

}
section{
    background-color: rgb(254, 253, 253);
}